* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.calender{
    width: 300px;
    height: 250px;
    background: #fff;
    display: flex;
    align-items:center;
    border-radius: 10px;

}
.left , .right{
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;



}
.right{
    width: 42%;
    background: #f4351e;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.left{
    width: 58%;
}
#date{
    font-size: 100px;
    line-height: 90px;

}

